// 移动门户招聘详情
.mobile-join-content
  .join-us-name
    margin: 0 !important
    p
      font-size pxToRem(30) !important
  .join-us-item
    display block !important
    margin 0 !important
    .join-us-key
      width 100% !important
      p
        width 100% !important
        font-size pxToRem(26) !important
        font-weight 800
    .join-us-value
      width 100% !important
      p
        font-size pxToRem(26) !important
        line-height pxToRem(50) !important
.dialog-content
  margin-bottom 20px
  .dialog-title
    font-size 18px
    text-align center
    margin-bottom 20px
    font-weight bold
  .dialog-tips
    font-size 16px
    color #cc0000
    margin-bottom 20px
  .remark
    display flex
    align-items: flex-end
    span
      font-size 16px
      height: 16px
    textarea
      font-size 16px
      flex: 1
.dialog-tab-items
  margin-top 40px
  .tab-items-title
    margin-bottom 20px
.select-box
  width 100%
  max-width: 250px
  .el-select-group
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between
.el-select-dropdown__item
  font-size 12px
.el-select .el-input.is-focus .el-input__inner
  border 1px solid #FBB03B!important
.el-input__inner:focus
  border 1px solid #FBB03B!important
.required-error1 .el-input__inner
    border 1px solid #F56C6C
.required-error-textarea
  border 0
.el-textarea__inner:focus
  border 1px solid #FBB03B!important
.required-error .el-input__inner
  border 1px solid #F56C6C
.tg-tips
  background: #FFF7EB;
  font-size: 12px;
  border: 1px solid #FBB03B;
  color: #353535;
  .tips
      margin 4px 0
.tg-tips[x-placement^=bottom] .popper__arrow
  border-bottom-color #fbb03b
.tg-tips[x-placement^=bottom] .popper__arrow::after
  border-bottom-color #fff7eb
.tg-tips[x-placement^=top] .popper__arrow
  border-top-color #fbb03b
.tg-tips[x-placement^=top] .popper__arrow::after
  border-top-color #fff7eb
.el-pagination--small .arrow.disabled, .el-table .hidden-columns, .el-table td.is-hidden>*, .el-table th.is-hidden>*, .el-table--hidden
  visibility: visible
.flex-bottom
  position fixed
  bottom 0
  right 0
  width 100%
  background #ffffff
  height 70px
  display flex
  align-items center
  justify-content center
  z-index 99
  box-shadow: 0 0 6px 2px rgba(50,65,87,0.3)
.btn-box
  width 90px
  height 30px
  line-height 30px
  text-align center
  font-size 14px
  font-weight 500
  border-radius 5px
  cursor pointer
.sty1
  background #FBB03B
  border 1px solid #FBB03B
  color #FFFFFF
  margin-right 50px
.sty2
  background #FFF7EB
  border 1px solid #FBB03B
  color #FBB03B
  // margin-left 50px
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner
  background-color: #fbb03b;
  border-color: #fbb03b;
.el-checkbox__inner:hover
  border-color: #fbb03b;
.el-checkbox__input.is-focus .el-checkbox__inner
  border-color: #fbb03b;
.popper-box
  .img
    width 200px