// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-background-grey = #F5F4F2
$color-menu-background = #324157
$color-menu-child-background = #1f2d3d
$color-main-background = #F0F0F0
$color-blue-background = #3D5476
$color-dark-background = #324157
$color-yellow-background = #FFB037
$color-light-yellow-background = #FFD43B
$color-highlight-background = #333
$color-dialog-background = #666
$color-button-background = #F6AB39
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体颜色规范
$font-color-menu = #BFCBD9
$font-color-menu-active = #FBB03B
$font-color-yellow = #F6AB39
$font-color-orange = #FFA530
$font-color-black = #414141
$font-colo-dark-black = #000000
$font-color-light-black = #474747
$font-color-grey = #6F6F6F
$font-color-red = #F56C6C
$font-color-white = #fff
$border-color-light-grey = #EEEEEE

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 12px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-s = 32px
$font-size-20 = 20px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-18 = 18px
$font-size-24 = 24px
$font-size-28 = 28px


$content-width = 1000px
$content-left-width = 640px
$content-right-width = 280px

//table header
$table-header-background-color = #fafafa!important
$table-header-font-color = #414141

//el-step
$step-green = #72C649
$step-gray = #c0c4cc
$step-yellow = #F6AB39

// mobile home page set up -> rem.js
$base-size = 50
